eolfix
eolfix-*.*.*
eolfix-*.tar.gz
eolfix-*.zip
eolfix-*.bz2
help
lcc
myconfig.cmd
output
test

CVSROOT
Makefile
Makefile.in
acconfig.h.tmp
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.h.tmp
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
ltmain.sh.tmp
missing
mkinstalldirs
stamp-h*

.deps
.libs
*core*
*.stackdump

*.exe
*.idb
*.ilk
*.map
*.ncb
*.o
*.obj
*.opt
*.pch
*.pdb
*.plg
*.sl
*.tds

Debug
Release
